body{
    background-color: rgb(252, 230, 106);
    border:10px black solid;
}

#top{
    /* height: 250px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* border:1px solid black; */
    flex-wrap: wrap;
}


img{
    border-radius: 70px;
    width:240px;
    height: 240px;
    /* border:1px solid black; */
}

#name{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border:1px solid black; */
}

#name p:first-child{
    font-size: 50px;
}

#name p:last-child{
    text-align: right;
}

#name p{
    /* border:1px black solid; */
    margin: 0;
}

#content{
    margin-left: 50px;
    margin-right: 50px;
}

body{
    display: flex;
    flex-direction: column;
}

#content p{
    line-height: 24px;
    letter-spacing: 1px;
}